<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Texto y campo a la derecha -->
<div class="row">
  <div class="form-group">  
    <%= f.label :name, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= f.text_field :name, class:"form-control", autocomplete: "off" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <%= f.label :date, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= f.text_field :date, 'data-provide' => 'datepicker', autocomplete: "off", class:"form-control", "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true", "data-date-language" => "es" %>
    </div>
  </div>
</div>

<!-- label con campo númerico a la derecha -->
<div class="row">
  <div class="form-group">  
    <%= f.label :count, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= f.number_field :count, class:"form-control" %>
    </div>
  </div>
</div>


<!-- select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Person'}) -->

<div class="row">
  <div class="form-group">  
    <%= f.label :article_type_id, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
    <%= f.select :article_type_id, @lst_article_types.collect {|p| ["#{p.code} - #{p.name}", p.id] }, {prompt: 'Seleccione'}, {class:"select2_single form-control"}  %>
    </div>
  </div>
</div>


  <div class="actions">
    <%= f.button "Cancelar", class: "btn btn-cancel", onclick: "hola();" %>
    <%= f.submit "Guardar", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  function hola ()
  {
    alert("holiwis");
  }
</script>
