<h1>Artículos</h1>
<div class="add">
  <%= link_to new_article_path do%>
    <i class="fa fa-plus-square theme-color"></i> Agregar Artículo
  <%end%>
</div>
<table class="dataTable stripe hover order-column row-border">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Date</th>
      <th>Count</th>
      <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="align-center">
          <%= button_tag "", type: "button", class:"modalButton button-nostyle", title: "Detalle", data: { toggle: "modal",src: article_path(article), width: "80%", height: "70%", target: "#myModal"} do%>
            <i class="fa fa-search-plus theme-color"></i>
          <%end%>
        </td>
        <td class="align-center">
        <%= button_tag "", type: "button", class:"modalButton button-nostyle", title: "Detalle", data: { toggle: "modal",src: edit_article_path(article), width: "350", height: "800", target: "#myModal"} do%>
            <i class="fa fa-edit green"></i>
          <%end%>
        </td>
        <td class="align-center">
          <%= link_to article, 'data-toggle' => "tooltip", title: "Eliminar", method: :delete, data: { confirm: "¿Desea eliminar el artículo: <b>#{article.name}</b>?" } do%>
              <i class="fa fa-remove red"></i>
          <%end%>
        </td>
        <td><%= article.name %></td>
        <td><%= article.date %></td>
        <td><%= article.count %></td>
        <td><%= article.article_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
