<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



<button type="button" class="modalButton" data-toggle="modal" data-src="https://www.youtube.com/embed/mWRsgZuwf_8" data-width="640" data-height="360" data-target="#myModal" data-video-fullscreen="">Youtube</button>