<%= form_tag "/test" do %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Texto y campo a la derecha -->
<div class="row">
  <div class="form-group">  
    <%= label_tag :name, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= text_field :article, :name, class:"form-control", autocomplete: "off", value: "#{@article.name}" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <%= label_tag :date, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= text_field :article, :date, value:"#{@article.date}", 'data-provide' => 'datepicker', autocomplete: "off", class:"form-control", "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true", "data-date-language" => "es" %>
    </div>
  </div>
</div>

<!-- label con campo númerico a la derecha -->
<div class="row">
  <div class="form-group">  
    <%= label_tag :count, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= number_field :article, :count, value:"#{@article.count}", class:"form-control" %>
    </div>
  </div>
</div>


<!-- select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Person'}) -->

<div class="row">
  <div class="form-group">  
    <%= label_tag :article_type_id, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
    <%= select :article, :article_type_id, options_for_select(@lst_article_types.collect {|p| ["#{p.code} - #{p.name}", p.id] }, selected: "#{@article.article_type_id}"), {prompt: 'Seleccione'}, class:"select2_single form-control", onchange: ""  %>
    </div>
  </div>
</div>



<div class="row">
  <div class="form-group">  
    <%= label_tag :name, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= text_field :article_type, :name, class:"form-control", autocomplete: "off", disabled: "true" %>
    </div>
    <%= label_tag :code, nil, class: "control-label col-md-1 col-sm-1 col-xs-12" %>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= text_field :article_type, :code, class:"form-control", autocomplete: "off", disabled: "true" %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= submit_tag "Guardar", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $("#article_article_type_id").change(function(){  //calls this function when the selected value changes
  $.get("/articleType/"+$(this).val()+"/get_json",function(data, status, xhr){  //does ajax call to the invoice route we set up above
    data = eval(data);  //turn the response text into a javascript object
    $("#article_type_name").val(data.name);  //sets the value of the fields to the data returned
    $("#article_type_code").val(data.code);
  });
});
</script>