body {
  color: #1F1B36;
  background: #453b75;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471; 
}

/** COLOR TEXTO **/
.red{
  color: #da0202 !important;
  font-size: 20px;
}
.green{
  color: #11c14f !important;
  font-size: 20px;
}
.theme-color{
  color: #6A5BB5 !important;
  font-size: 20px;
}
.add a{
  color: #1F1B36;
  font-size: 20px;
}
.add a:hover{
  color: #6A5BB5;
  font-size: 20px;
}

/***** Alerts ******/
.alert-success {
  color: #ffffff;
  background-color: rgba(17, 193, 79, 0.88) !important;
  border-color: rgba(38, 185, 154, 0.88) !important; 
}

.alert-info {
    color: #ffffff;
    background-color: rgba(106, 91, 181, 0.88);
    border-color: rgba(69, 59, 117, 0.88) !important;
}

.alert-warning {
  color: #ffffff;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88); }

.alert-danger,
.alert-error {
  color: #ffffff;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88); }
/***** /Alerts ******/

/****** Columna izquierda ********/
.left_col{
	background-color: #1F1B36;
}

.nav_title{
	background-color: #1F1B36;
}

.site_title{
	color: #f7f7f7 !important;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 5px solid #453B75; 
}
.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#453B75, #453B75), #453B75;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
  .nav.child_menu > li > a {
    color: #FFF;
    font-size: 12px;
    padding: 9px;
}
.nav-md ul.nav.child_menu li:before {
  background: #453B75;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
  }

/*Menú en pequeño*/
  .nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
  border-right: 5px solid #453B75; 
}
.nav-sm ul.nav.child_menu {
  left: 100%;
  position: absolute;
  top: 0;
  width: 210px;
  z-index: 4000;
  background: #453B75;
  display: none; }

/****** /Columna izquierda ********/

/****** Barra superior *******/
.nav_menu{
	background: #453B75;
  border-radius: 0 0 6px 6px;
}

/*botón contracción*/
.toggle a{
	color: #f7f7f7;
}

/*hover session*/
.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: #6A5BB5; }

/*texto session*/
.nav.navbar-nav > li > a {
    color: #f7f7f7 !important;
    border-radius: 0 0 6px 6px;
}
/****** /Barra superior *******/

/* ***** buttons ********/
.btn {
  border-radius: 3px; }

a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
  color: #fff; }

/*Aceptar*/
.btn-success {
  background: #11c14f;
  border: 1px solid #169F85; }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background: #19d130; }

/*Cancelar*/
.btn-cancel {
  color: #fff;
  background-color: #da0202;
  border-color: #b10000; }

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active, .open .dropdown-toggle.btn-cancel {
  color: #fff;
  background-color: #ff0000;
  border-color: #b10000; }

.btn-round {
  border-radius: 30px; }

.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px; }

.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
  font-size: 20px;
  display: block; }

.btn.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa; }

.btn.btn-app:active, .btn.btn-app:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400; }

/* ***** /buttons *******/




/******* Data Table ******/
.align-center{
  text-align:center; 
  vertical-align:middle;
}
.align-right{
  text-align:center; 
  vertical-align:middle;
}

.dataTable thead{
  background: #453b75;
  color: #f7f7f7;
}

.dataTable th:first-child{
  border-radius: 6px 0 0 0;
}

.dataTable th:last-child{
  border-radius:0 6px 0 0;
}

/*botones de exportación*/
.DTTT_container{
  float: right;
}

.DTTT_button{
  position: relative;
  font: normal normal normal 30px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  border: 1px solid;
  color: #f7f7f7 !important;
  padding: 6px 9px;
  border-radius: 3px;
}

.DTTT_button_xls{
  background: #02723b !important;
  border-color: #333 !important;
}
.DTTT_button_xls:before{
  content: "\f1c3";
}

.DTTT_button_pdf{
  background: red !important;
  border-color: #333 !important;
}
.DTTT_button_pdf:before{
  content: "\f1c1";
}

.export-title{
  float: right;
}
.export-title:before{
  content: "Exportar";
  color: #1F1B36;
  font-size: 20px;
}

/******* /Data Table ******/


/******* MODAL ******/
@import "compass/css3";
.modal-dialog {
}

.close-button {
  overflow: hidden;
}

button.close {
  font-size: 30px;
  line-height: 30px;
  padding: 7px 4px 7px 13px;
  opacity: .8;
  @include text-shadow(none);
  @include opacity(.7);
  color:#fff;

  span {
    display: block;
  }
  
  &:hover,
  &:focus {
    @include opacity(1);
    outline: none;
  }
}

.modal-content {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

iframe {
  display: block;
  margin: 0 auto;
}

.button-nostyle
{
  background:none;
  border:none;
}

.border{
  border-radius: 10px;
}
/******* /MODAL ******/