<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>proyecto_base</title>
	    <%= favicon_link_tag 'favicon.ico'%>
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= csrf_meta_tags %>
	</head>
	<body class="nav-md">
    	<div class="container body">
      		<div class="main_container">
			<!-- page content -->
		        <div class="right_col" role="main">
		          <div class="">
		            
		            <% if flash[:alert]%>
		              <p class="alert"><%= alert %></p>
		            <%end%>

		            <%= yield %>
		          </div>
		        </div>
        	<!-- /page content -->
        	</div>
    	</div>
    	<script type="text/javascript">
      var CURRENT_URL = window.location.href.split('?')[0],
      $BODY = $('body'),
      $MENU_TOGGLE = $('#menu_toggle'),
      $SIDEBAR_MENU = $('#sidebar-menu'),
      $SIDEBAR_FOOTER = $('.sidebar-footer'),
      $LEFT_COL = $('.left_col'),
      $RIGHT_COL = $('.right_col'),
      $NAV_MENU = $('.nav_menu'),
      $FOOTER = $('#footerapp');

      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Seleccionar",
          allowClear: true,
          width: '100%'
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
          maximumSelectionLength: 4,
          placeholder: "Seleccionar máximo 4 elementos",
          allowClear: true
        });

        $('.dataTable').DataTable({
            //Configuraciones Exportación
            "dom": '<"export-title"><"clear">T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/assets/dataTables/extras/swf/copy_csv_xls_pdf.swf",
                "aButtons": [ {"sExtends": "xls", "sButtonText": ""}, 
                              {"sExtends": "pdf", "sButtonText": ""} ]
            },

            //Configuraciones lenguaje
            "oLanguage": {
              "sInfo": "Mostrando del <b>_START_</b> al <b>_END_</b> de <b>_TOTAL_</b> registros",
              "sEmptyTable": "No hay datos disponibles",
              "sLengthMenu": 'Mostrar <select>'+
                              '<option value="10">10</option>'+
                              '<option value="20">20</option>'+
                              '<option value="30">30</option>'+
                              '<option value="40">40</option>'+
                              '<option value="50">50</option>'+
                              '<option value="-1">Todos</option>'+
                              '</select> registros',
              "sLoadingRecords": "Por favor espere - cargando...",
              "sSearch": "<i class='fa fa-search'></i> Buscar:",
              "sInfoEmpty": "No hay registros para mostrar",
              "sInfoFiltered": "(filtrados de _MAX_ registros totales)",
              "sZeroRecords": "No se encontraron registros",
              "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
                }
            },
            
            }
          );

        $('[data-toggle="tooltip"]').tooltip(); 

        //initialize modal
        iframeModalOpen();

        //JS notifymsg.js
        //Aviso de Exito
        if ('<%= flash[:success]%>' != ''){
         display_message('¡Éxito!','<%= flash[:success]%>', 'success');
        }

        //Aviso de Error
        if ('<%= flash[:error]%>' != ''){
          display_message('Error','<%= flash[:error]%>', 'error');
        }

        //Aviso de información
        if ('<%= flash[:notice]%>' != ''){
          display_message('Aviso','<%= flash[:notice]%>', 'info');
        }

        //Aviso Confirmación

        //Override the default confirm dialog by rails
        display_confirm();

      });

    </script>
    </body>
</html>